{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}

    <h1 class="d-flex justify-content-center m-4">Fiche Episode</h1>
<div class="container-fluid">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    <div class="program-footer d-flex justify-content-around">
        <a class="btn btn-bleuc" href="{{ path('episode_index') }}"><- Retour à la liste</a>

        <a class="btn btn-bleuf" href="{{ path('episode_edit', {'slug': episode.slug}) }}">Edition</a>

        {{ include('episode/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
