{% extends 'base.html.twig' %}

{% block title %}Edition d'un program{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-around">Edition d'un program</h1>
    <div class="container-fluid table-show" >
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Affiche de la série</th>
                <td ><img src="{{ program.poster }}" width="20%" ></td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ program.country }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ program.year }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ program.category.name }}</td>
            </tr>
{#            <tr>#}
{#                <th>Acteurs</th>#}
{#                <td>{{  }}</td>#}
{#            </tr>#}
        </tbody>
    </table>

    <div class="program-footer d-flex justify-content-around">
        <a class="btn btn-bleuc" href="{{ path('program_index') }}">Retour à la liste</a>

        <a class="btn btn-bleuf" href="{{ path('program_edit', {'slug': program.slug}) }}">Edition</a>

        {{ include('program/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}
