{% extends 'base.html.twig' %}
{% block title %}Tous les programmes{% endblock %}
{% block body %}

    <h1 class="d-flex justify-content-center">Toutes les séries : </h1>
    <div class="container-fluid d-flex flex-wrap">
    {% for program in programs %}
        <div class="card-program card mb-5" style="min-width: 20%; max-width: 48%">
            <div class="card-prg">
                <div class="row-card-program row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ program.poster}}" class="card-img" alt="{{ program.title }} poster">
                    </div>
                    <div class=" col-md-8">
                        <div class="card-info-title card-body">
                            <h2 class="card-title">{{ program.title }}</h2>
                            <p class="card-text">{{ program.summary }}</p>
                            <p>Categorie : {{ program.category.name }}</p>
                        </div>
                        <div class="card-info-title card-body">
                            {% for actor in program.actors %}
                                <a class="p-2" href="{{ path('actor_show', {'slug' : actor.slug}) }}">{{ actor.name }}</a>
                            {% endfor %}

                        </div>
                        <a class="btn btn-jaune" href="{{ path('wild_show', {'slug' : program.slug }) }}">Plus d'infos -></a>


                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

