{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-program card mb-5" style="max-width: 95%;">
        <div class="card-prg">
            <div class="row-card-program row no-gutters">
                <div class="col-md-4">
                    <img src="{{ program.poster}}" class="card-img" alt="...">
                </div>
                <div class=" col-md-8">
                    <div class="card-info-title card-body">
                        <h2 class="card-title">{{ program.title }}</h2>
                        <p class="card-text">{{ program.summary }}</p>

                    </div>
                    <div class="card-info-liste card-body">
                        <h2>Liste des épisodes :</h2>
                        <div>
                            {% for episode in episodes %}
                                <br>
                                <a href=" {{ path('wild_episode', {'slug' : episode.slug } ) }}">
                                    <div class="liste">
                                    <p class="episode">Episode {{ episode.number }} </p>

                                    {{ episode.title }}
                                        <br>
                                        <br>
                                    {{ episode.synopsis }}

                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
