{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card-program card mb-5">
            <div class="card-prg">
                <div class="row-card-program row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ program.poster}}"  class="card-img" alt="{{ program.title }} ">
                    </div>
                    <div class=" col-md-8">
                        <div class="card-info-title card-body">
                            <h2 class="card-text">{{ program.title }}</h2>
                            <p class="card-text">{{ program.summary }}</p>
                        </div>
                        <div>

                        </div>
                        <div class="card-info-title card-body">
                            <h2 class="card-title">Les Saisons</h2>
                            <ul>
                                {% for season in seasons %}
                                    <li><a href="{{ path('wild_season', {'id' : season.id}) }}"> {{ season.number }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-info-title card-body">
                            <h2 class="card-title">Acteurs :</h2>
                            <ul>
                                {% for actor in actors %}
                                    <li><a href="{{ path('wild_actor', {'slug' : actor.slug}) }}"> {{ actor.name }}</a></li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-bleuf" style="margin-top: inherit" href="{{ path('wild_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}
